@page
@model ChatModel
@{
}

<h1>Chat</h1>

<form id="send-form" action="#">
    Send a message: 
    <input type="text" id="message-textbox" disabled /> 
    <button id="send-button" type="submit" disabled>Send</button>
</form>

<ul id="messages-list">
</ul>